# Database Configuration
# For PostgreSQL: postgresql://username:password@localhost:5432/dbname
# For SQLite (Default Fallback): sqlite:///user_sessions.db
DATABASE_URL=sqlite:///user_sessions.db
FLASK_SECRET_KEY=supersecretkey
